<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    }

    .content {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        max-width: 100px;
        max-height: 70px;
    }

    .footer {
        flex: 0 0 auto;
    }

    .f {
        max-width: 30%;
    }

</style>

<div class="wrapper">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="content" th:object="${model}">
        <div class="d-flex justify-content-between">

            <div>
                <h4 th:text="*{name}"></h4>
                <h5 th:text="*{description}"></h5>

                <span th:if="${user.id == model.user.id}">
                     <span th:if="${cards.size()}">
                    <a th:href="@{/test/{mId}/{cId} (mId = *{id}, cId = ${cards.get(0).id})}"> Изучить </a>
                    </span>
                </span>

            </div>

            <div th:if="${user.id == model.user.id}">

                <a href="#" class="btn-primary" aria-current="true"
                   data-bs-toggle="modal" data-bs-target="#first">
                    Change title and descr
                </a>

                <div class="modal fade" id="first" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change title and
                                    descr</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form th:action="@{/model/changeTitle/{mId} (mId = *{id})}" method="POST">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">НАЗВАНИЕ</label>
                                        <input th:field="${dto.name}" th:value="${model.name}"
                                               type="text" class="form-control" id="title"
                                               aria-describedby="emailHelp">
                                    </div>

                                    <div class="mb-3">
                                        <label for="descr" class="form-label">ОПИСАНИЕ</label>
                                        <input th:field="${dto.description}"
                                               th:value="${model.description}" type="text"
                                               class="form-control" id="descr">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary">Save changes</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <form th:if="${user.id == model.user.id}" class="f" th:action="@{/model/addCard/{mId} (mId = ${model.id})}"
              th:object="${card}"
              method="POST"
              enctype="multipart/form-data">

            <div class="modal-body">
                <div>
                    <label for="term" class="form-label"></label>
                    <input th:field="*{term}"
                           type="text" class="form-control" id="term"
                           aria-describedby="emailHelp" placeholder="term">
                </div>

                <div>
                    <label for="definition" class="form-label"></label>
                    <input th:field="*{definition}"
                           type="text"
                           class="form-control" id="definition" placeholder="translate">
                </div>

                <div>
                    <label for="img" class="form-label"></label>
                    <input name="file"
                           type="file"
                           class="form-control" id="img" placeholder="img
">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Save changes</button>
            </div>

        </form>

        <ul class="list-group list-group-flush">
            <li th:each="mCard :${cards}" class="list-group-item">
                <span th:if="${mCard.filename}">
                    <img th:src="@{/img/{filename} (filename =${mCard.filename})}">
                </span>
                <span th:text="${mCard.term}"></span>
                <span> - </span>
                <span th:text="${mCard.definition}"></span>
                <a th:if="${user.id == model.user.id}" th:href="@{/model/{mId}/removeCard/{cId} (cId =${mCard.id}, mId =${model.id})}"
                   class="btn-close" aria-label="Close"></a>
            </li>
        </ul>

    </div>
    <div class="footer">
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>